a{
	text-decoration: none;
	font-size:20px;
	padding: 18px;
	color:white;
}

body {
  background: #BBC0AC;
  background-image: url(gallery.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
	}

img {
   display: block;
   z-index: 2;
   top: 0px;
   left: 0px;
   width: 633px;
   height: 426px;
}
p {
  color: #4F3012
}

@font-face {
  font-family: 'FAMILY_NAME';
  font-style: NORMAL;
  font-weight: 8;
  src: url(RacingSansOne-Regular.woff2) format('woff2');
}

.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    padding:10px
    background: #D3A0AF;
}

#myName {
   text-align: left;
   color: #7C8CAF;
   font: 21px Arial;
   width: 479px;
   height: 40px;
   padding: 0px 0px 0px 0px;
   background-repeat: no-repeat;
   background-position: 0px top;
